<% report.nameToGroup.each { groupName, group -> %>
	\\subsection{${group.name}}
	\\begin{longtable}{|l|c|c|c|c|c|}
		\\hline
		\\textbf{${group.name}} & <%= report.nameToEngine.keySet().collect { "\\textbf{$it}" }.join(" & ") %> \\\\\\hline
	    \\endhead
        <% group.tests.each { test -> %>
			${test.fullName}<% test.engineToResult.each {engine, value -> %> & ${value.partial.toNormalizedSymbol()}<% } %>\\\\\\hline
        <% }%>
    \\end{longtable}
<% } %>