*.log
*.log.*
*.cbp
*.iml
*.zip
soapui/reports
deploy.xml
.idea
tmp/
/test/
out/
build/
build-bvms/
bvms/
*.iws
*.ipr
.gradle
downloads/
/server/
/bin
.project
.classpath
/.settings
/classes
vm_download/
vm_extraction/
/soapui
/ant
/maven
/jbpmdeployer
/jbpmdependencies

# ignore this directory which is created on demand
src/main/tests/files/errors/
ovas
