# enables container build on travis
sudo: false

language: java
jdk:
  - oraclejdk8

# some engines need java 7
addons:
  apt:
    packages:
    - oracle-java7-installer

cache:
  directories:
  - downloads
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

env:
  matrix:
    - TESTS=systemtests.BPMNSystemTest.*Activiti*   JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=systemtests.BPMNSystemTest.*Camunda*    JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=systemtests.BPMNSystemTest.*jBPM*       JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=systemtests.BPELSystemTest  JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=peal.impl.*Bpel*  JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=peal.impl.*BpmnEnginesTest*  JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=peal.impl.*BpmnEnginesWithoutUndeploy*  JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=peal.helper.*                JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=betsy.*Test*                JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=configuration.bpel.*        JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/
    - TESTS=corebpel.*                  JAVA7_HOME=/usr/lib/jvm/java-7-oracle/jre/

install:
  - TERM=dumb travis_retry ./gradlew assemble --info --stacktrace

script:
  - TERM=dumb ./gradlew :test --tests $TESTS --info --stacktrace

after_success:
- ./gradlew jacocoTestReport coveralls

matrix:
  fast_finish: true
