<html>
	<head>
	      <title>Results</title>
	      <link href="bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
	    <div class="container">
		<% report.nameToGroup.each { groupName, group -> %>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tests for Group <em>${group.name}</em></h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                <% report.nameToEngine.each { name, engine -> %>
                                   <th><%= name %> (<%= report.getNumberOfSuccessfulTestsPer(engine) %>)</td>
                                <% } %>
                                </tr>
                            </thead>
                            <tbody>
                            <% group.tests.each { test -> %>
                                <tr>
                                    <td class='${test.support.isTotal() ? "success" : test.support.isNone() ? "danger" : "warning"}'>${test.fullName}</td>
                                <% test.engineToResult.each {engine, result -> %>
                                    <td class='${result.support.isTotal() ? "success" : result.support.isNone() ? "danger" : "warning"} text-center'>
                                        <a href='${report.getRelativePath(group,engine,test)}'>${result.support.toNormalizedSymbol()}</a>
                                    </td>
                                <% } %>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
	    <% } %>
	    </div>
	</body>
</html>