<html>
	<head>
	      <title>Results</title>
	      <style type='text/css'>
	             .NONE {
                    background-color: red;
                 }
                 .PARTIAL {
                    background-color: yellow;
                 }
                 .TOTAL {
                    background-color: green;
                 }
                 .UNDEPLOYABLE {
                    background-color: orange;
                 }
                 .result {
                     text-align: center;
                     width: 60px;
                 }
                 body {
                     font-size: large;
                 }
                 table {
                     width: 900px;
                 }
                 .group {
                     width: 150px;
                     font-weight: bold
                 }
	      </style>
	</head>
	<body>
		<% report.nameToGroup.each { groupName, group -> %>
			<table>
				<tr class="engines">
					<td></td>
					<td></td>
					<% report.nameToEngine.keySet().each { engine -> %>
					   <td class='result'><%= engine %></td>
					<% } %>
				</tr>

	            <% group.tests.each { test -> %>
	                <tr class="test-<%= test.fullName %> group-<%= group.name %>">
	                <% if (group.tests.first() == test) { %>
	                    <td class='group'>${group.name}</td>
	                <% } else { %>
	                    <td></td>
	                <% } %>
	                    <td class='${test.support}'>${test.fullName}</td>
	                <% test.engineToResult.each {engine, result -> %>
                        <td class='${result.partial} result ${result.deployable ? "" : "UNDEPLOYABLE"}'>
                            <a href='${report.getRelativePath(group,engine,test)}'>${result.partial.toNormalizedSymbol()}</a>
                        </td>
                    <% } %>
	                </tr>
	            <% } %>

	        </table>
	    <% } %>
	</body>
</html>